<!DOCTYPE html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>{{pageTitle}} Page</title>
    </head>
    <body>
        <h3>{{screamIt "The Site is currently being updated." }}</h3>
        <p>Please visit again, We'll be right back</p>
    </body>
</html>