<!DOCTYPE html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>{{pageTitle}} Page</title>
    </head>
    <body>
        {{> header}}
        <h3>{{screamIt "Portfolio page here"}}</h3>
        <p>This is a portfolio page</p>
        {{> footer}}
    </body>
</html>